public-hoist-pattern[]=pdfjs-dist
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*zenstack*
public-hoist-pattern[]=*regexp-to-ast*
public-hoist-pattern[]=*vscode*
public-hoist-pattern[]=*@types/react*
public-hoist-pattern[]=*@types/react-dom*
public-hoist-pattern[]=*office*
public-hoist-pattern[]=tslib

# These are necessary for the docxtemplater library to work
public-hoist-pattern[]=*angular-expressions*
public-hoist-pattern[]=*lodash*

link-workspace-packages=true
node-linker=hoisted

@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=I2y+APEBR4wVW5qdMQyQx1Cke7SQSdLf54ZorD/Tkpjiv5I+E0UwdBV8bjZ5Zx7/
@jsr:registry=https://npm.jsr.io
